
.jumbo {
    background-size: cover;
    background: url("./coffee-back.jpg") no-repeat fixed bottom;
    color: #ffffff;
    height:300px;
    position: relative;
    z-index:-2;
}

.overlay{
    background-color: #000;
    opacity: 0.6;
    position: absolute;
    top: 0; 
    left:0;
    bottom:0;
    right:0;
    z-index:-1;
}