.cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5px;
}

.card-deck { 
    padding: 0 !important;
    margin: 0 !important;
    margin-top: 20px !important;
    z-index: 0;
    margin-top: 10px;
}